body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    text-align: center;
    align-items: center;
}

@media screen and (orientation: landscape) {
    header {
        width: 100vw;
        height: 10vh;
        background-color: #DB9A1B;
        display: flex;
        align-items: center; 
    }

    footer {
        width: 100vw;
        height: 15vh;
        background-color: #DB9A1B;
        display: flex;
        align-items: center; 
    }

    .logo {
        width: 5vw;
        height: auto;
    }
    
    .titulo {
        margin-left: 1vw;
    }

    .sobre {
        margin-left: 2vw;
    }
    .imagens-catalogo{
        width: 30%;
    }
    .imagens-catalogo-menor{
        width: 40%;
    }
}

@media screen and (orientation: portrait){
    header {
        width: 100vw;
        height: 10vh;
        background-color: #DB9A1B;
        display: flex;
        align-items: center; 
    }

    footer {
        width: 100vw;
        height: 15vh;
        background-color: #DB9A1B;
        display: flex;
        align-items: center; 
    }

    .logo {
        width: 15vw;
        height: auto;
    }
    
    .titulo {
        margin-left: 1vw;
        font-size: 14pt;
    }

    .sobre {
        margin-left: 5vw;
    }
    .imagens-catalogo{
        width: 60%;
    }
    .imagens-catalogo-menor{
        width: 70%;
    }
}

.main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    position: relative;
    width: 50%;
}

.titulob{
    width: 8vw;
    height: 5vh;
    font-size: 16pt;
    background-color: #fff;
    border-color: #fff;
}

.swiper-container {
    width: 100vw;
    /*max-width: 10vw;
    max-height: 10vh;*/
    height: 50%;
}

.container{
    padding: 0 20vw;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100vw;
}