body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    text-align: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #DB9A1B;
    display: flex;
    align-items: center; 
}

.logo {
    width: 5vw;
    height: auto;
}

.titulo {
    margin-left: 1vw;
}

.main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    position: relative;
    width: 50%;
}

.titulob{
    width: 8vw;
    height: 5vh;
    font-size: 16pt;
    background-color: #fff;
    border-color: #fff;
}

.swiper-container {
    width: 100vw;
    /*max-width: 10vw;
    max-height: 10vh;*/
    height: 50%;
}

.container{
    padding: 0 20vw;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100vw;
}

.imagens-catalogo{
    width: 30%;
}
.imagens-catalogo-menor{
    width: 40%;
}

footer {
    width: 100vw;
    height: 15vh;
    background-color: #DB9A1B;
    display: flex;
    align-items: center; 
}

.sobre {
    margin-left: 2vw;
}
